* {
  --primary: var(--material-primary);
  --button-color--primary: var(--material-white);

  --material-primary: #E22936;
  --material-secondary: #0A4561;
  --material-warning: #c4a000;
  --material-white: #ffffff;
  --material-lightgray: #f0f0f0;
  --material-mediumgray: #ccc;
  --material-darkgray: #424242;
}