[data-theme=jenkins-bonita-login-page], .app-theme-picker__picker[data-theme=jenkins-bonita-login-page],
[data-theme=jenkins-bonita], .app-theme-picker__picker[data-theme=jenkins-bonita] {
  --primary: var(--material-primary);
  --button-color--primary: var(--material-lightgray);

  --material-primary: #E22936;
  --material-secondary: #0A4561;
  --material-lightgray: #f0f0f0;
  --material-mediumgray: #ccc;
  --material-darkgray: #424242;
}